<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    {{! <span for="img" aria-label="money">💲</span> }}
    <span class="dollar-amount">{{post.experience_level}}</span>

  </p>
  {{#if logged_in}}
    <div class="comment-area">
      <form action="submit" class="comment-form">
        <textarea
          class="align-center"
          name="comment"
          id="comment"
          placeholder="Add A Comment Here..."
          cols="150"
          rows="10"
        ></textarea>
        <button class="btn btn-primary">post</button>
      </form>
    </div>
  {{/if}}

</div>